/* universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tahoma", sans-serif;
}

body {
  background-color: #242629;
}

form {
  min-width: 300px;
}

span {
  color: #fff;
}

input,
button {
  display: block;
  outline: none;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.topnav {
  background-color: #0f0f0f;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.navlink {
  float: left;
  color: #BBB;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  transition: all 0.2s;
}

.navlink:hover {
  color: #fff;
}

.active {
  color: #ff6961 !important;
  font-weight: 900;
}

.right {
  float: right !important;
}

.centered {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.input {
  max-width: 100%;
  width: 100%;
  height: 50px;
  border: 0px;
  border-bottom: 3px solid #ff6961;
  border-radius: 3px;
  background-color: #1e1f23;
  color: #fff;
  padding: 10px;
  margin-top: 5px;
  transition: border-bottom 0.1s cubic-bezier(0, 0, 0.43, 1.56) 0s;
  -moz-transition: border-bottom 0.1s cubic-bezier(0, 0, 0.43, 1.56) 0s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.searchbtn {
  color: #bbb;
  background-color: #0f0f0f;
  font-size: 16px;
  border: none;
}

.search-form {
  display: inline;
  position: relative;
}

.input-search {
  display: inline;
  max-width: 250px;
  border: 0px;
  border-bottom: 3px solid #ff6961;
  border-radius: 3px;
  margin-top: 6px;
  background-color: #1e1f23;
  color: #fff;
  padding: 10px;
  transition: border-bottom 0.1s cubic-bezier(0, 0, 0.43, 1.56) 0s;
  -moz-transition: border-bottom 0.1s cubic-bezier(0, 0, 0.43, 1.56) 0s;
}

.input-edit {
  max-width: 100%;
  width: 100%;
  height: 50px;
  border: 0px;
  border-bottom: 3px solid #ff6961;
  border-radius: 3px;
  background-color: #1e1f23;
  color: #fff;
  padding: 10px;
  margin-top: 5px;
  transition: border-bottom 0.1s cubic-bezier(0, 0, 0.43, 1.56) 0s;
  -moz-transition: border-bottom 0.1s cubic-bezier(0, 0, 0.43, 1.56) 0s;
}

.input:focus,
.input-edit:focus {
  border-bottom: 5px solid #ff3e34;
}

/* gallery.php */
.img-area {
  max-width: 700px;
  margin: 0 auto;
  height: auto;
  color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.img-header {
  background-color: #0f0f0f;
  border-radius: 3px 3px 0 0;
}

.img-title {
  font-size: 20px;
  color: #ff6961;
  font-weight: bold;
  padding: 15px;
}

.img-author {
  padding: 0px 15px 15px 15px;
  color: #BBB;
}

.img-box {
  background-color: #1e1f23;
}

.img-controls {
  color: #fff;
  background-color: #0f0f0f;
  padding: 10px;
  text-decoration: none;
  border-bottom: 2px dashed #ff6961;
}

.img-controls > span,
.img-icons,
.footer a {
  font-size: 16px;
  text-decoration: none;
  color: #ff6961;
  transition: all 0.3s;
}

.img-controls > span:hover,
.img-icons:hover,
.footer a:hover {
  text-decoration: none;
  color: #ff3e34;
  cursor: pointer;
}

.img-desc {
  color: #fff;
  background-color: #0f0f0f;
  border-radius: 0px 0px 3px 3px;
  padding: 10px;
  word-wrap: break-word;
}

.gallery-img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* upload.php */
#imgfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#imgfile,
.label-upload {
  color: #ffffff;
  background-color: #ff6961;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
  display: block;
  padding: 0.625rem 1.25rem;
  transition: all 0.3s;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 3px;
}

#imgfile:focus + label,
#imgfile + label:hover,
.button:hover {
  background-color: #ff3e34;
}

.img-url {
  color: #fff;
  transition: all 0.3s;
  text-decoration: none;
}

.img-url:hover {
  color: #ff3e34;
}

.button {
  border-radius: 3px;
  display: block;
  width: 100%;
  padding: 0.625rem 1.25rem;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ff6961;
  font-size: 1.25rem;
  font-weight: 700;
  color: #ffffff;
  transition: background-color 0.3s;
  margin-top: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(2, auto);
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.grid-item {
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #0f0f0f;
  transition: all 0.2s;
}

.grid-item:hover {
  box-shadow: 0 0px 4px rgba(255, 105, 97, 0.25), 0 0px 4px rgba(255, 62, 52, 0.25);
}

.grid-image {
  max-height: 250px;
  object-fit: cover;
  height: 100%;
}

.grid-imgbox {
  height: 250px;
  overflow: hidden;
  background-color: #141518;
  justify-content: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 330px) {
  form {
    min-width: 250px;
  }

  .dropbtn {
    padding: 16px 6px 0px 0px;
  }
}
@media only screen and (max-width: 510px) {
  .grid-item,
.img-area,
.comments {
    margin: 0 auto;
    width: 90%;
  }

  .right {
    float: left !important;
  }

  .dropbtn {
    padding: 16px 6px 0px 0px;
  }
}
@media only screen and (max-width: 769px) {
  .grid-item,
.img-area,
.comments {
    margin: 0 auto;
    width: 95%;
  }

  .dropbtn {
    padding: 16px;
  }
}
@media only screen and (max-width: 990px) {
  .grid-item,
.img-area,
.comments {
    margin: 0 auto;
    width: 95%;
  }

  .dropbtn {
    padding: 16px;
  }
}
.comments {
  max-width: 700px;
  margin: 0 auto;
}

.comment-item {
  background-color: #1e1f23;
  border-radius: 3px;
  margin-top: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.comment-author {
  color: #BBB;
  font-weight: bold;
  padding: 10px;
  font-size: 14px;
}

.comment-content {
  color: #fff;
  border-radius: 0px 0px 3px 3px;
  padding: 10px;
  word-wrap: break-word;
  text-justify: inter-word;
  text-align: justify;
}

.comment-login {
  padding: 15px;
  color: #ff6961;
  text-align: center;
}

.footer {
  background-color: #0f0f0f;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  text-align: center;
  font-size: 15px;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.footer-author {
  color: #BBB;
  font-size: 15px;
}

.footer-heart {
  color: #ff6961;
}

.footer-heart:hover {
  color: #ff3e34;
}

.register {
  margin: 20px;
}

.register a {
  color: #BBB;
}

.register a:hover {
  color: #ff3e34;
}

.dropbtn {
  color: #bbb;
  background-color: #0f0f0f;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  background-color: #1e1f23;
  color: #bbb;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropbtn:hover,
.dropdown-content a:hover {
  color: #fff;
}

.noresult {
  color: #fff;
}

.error {
  color: #bbb;
  margin: 5px;
  max-width: 350px;
}

.inlblock {
  display: inline-block;
}

.settings-menu {
  border-bottom: 2px solid #ff6961;
}

.settings-item {
  border-left: 1px solid #ff6961;
  border-right: 1px solid #ff6961;
  border-top: 1px solid #ff6961;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #1e1f23;
  padding: 10px;
  margin-right: 4px;
  transition: all 0.3s;
}

.settings-item:hover {
  background-color: #242629;
}

.settings-form-hidden {
  display: none;
}

.settings-content {
  min-height: 200px;
}

.settings-content p {
  color: #fff;
  padding: 3px 0px;
}

/*# sourceMappingURL=style.css.map */
