/* universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tahoma', sans-serif;
    overflow: hidden;
}

body {
    background-color: #ebebeb;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #cfd8dc;
    color: black;
}

.topnav a.active {
    color: #7986cb;
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn {
    width: 200px;
    height: 50px;
    border: 1px solid #cfd8dc;
    border-bottom: 3px solid #7986cb;
    background-color: #ffffff;
    padding: 10px;
    transition: all 0.5s;
    margin-top: 5px;
}

/* gallery.php */

.img-title {
  font-size: 15px;
  color: #7986cb;
  font-weight: bold;
}

.img-box {
  padding:20px 20px;
}

/* upload.php */
#imgfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#imgfile + label {
  color: #ffffff;
  background-color: #7986cb;  
  width: 100%;
  font-size: 1.25rem;
  font-weight: 700; 
  white-space: nowrap;
  cursor: pointer; 
  display: inline-block;
  padding: 0.625rem 1.25rem;
  transition: background-color 0.3s;
}

#imgfile:focus + label,
#imgfile + label:hover,
.button:hover {
  background-color: #3f51b5;
}

.button {
    float: left;
    display: block;
    width: 100%;
    padding: 0.625rem 1.25rem;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    background-color: #7986cb;
    font-size: 1.25rem;
    font-weight: 700;
    color: #ffffff;
    transition: background-color 0.3s;
    margin-top: 5px;
}